*{
    max-width: 100%;
    margin: 0px;
    font-family: "montserrat";
    font-weight: 700;
    padding: 0px;
}
.header{
    background: #26335D;
    color: white;
}
.navigators{
    display: flex;
    padding-top: 30px;
    align-items: center;
    margin-left: 230px;
}
.header h1{
    color: white;
}
.header p{
    color: white;
}
.navigator-link{
    display: flex;
    margin-left: 25px;
    align-items: center;
    font-size: small;
}
a{
    text-decoration: none;
    color: white;
    padding: 10px;
}
.navigator-link .btn{
    margin-left: 170px;
    display: flex;
}
button{
    padding: 20px;
    background-color: transparent;
    align-items: center;
    cursor: pointer;
}
.unfilled-btn{
    color: white;
    border: none;
}
.navigator-link .filled-btn{
    display: flex;
}
.filled-btn{
    align-items: center;
    background: #FF6551;
    border: none;
    color: white;
    border-radius: 5px;
}
.banner{
    display: flex;
}
.banner .sec-1{
    margin-left: 160px;
    padding-top: 160px;
    white-space:break-spaces;
}
.banner .btn{
    display: flex;
    gap: 10px;
}
.hollow-btn{
    border-color: #FF6551;
    color: #FF6551;
    border-radius: 5px;
}
.banner h6{
    color: #FF6551;
}
.banner h1{
    max-width: 540px;
    font-size: 50px;
}
.banner p{
    font-weight: 400;
    max-width: 330px;
    font-size: 17px;
}









h6{
    color: #FF6551;
}
h1{
    color: black;
    font-size: 45px;
}
p{
    color: #737373;
    max-width: 540px;
    font-weight: 400;
    font-size: 17px;
}
.layout-1{
    margin: 0px 160px 160px 160px ;
    max-width: 1440px;
    height: 760px;
}
.layout-1 .sec-1{
    white-space: break-spaces;
    padding-top: 70px;
}
.cards{
    display: flex;
    justify-content: space-evenly;
    height: 300px;
    padding-top: 50px;

}
.card-1, .card-2, .card-3, .card-4{
    max-width: 230px;
    justify-content: space-evenly;
    padding: 20px;
    white-space: pre-line;
    box-shadow: 0px 4px 8px 0px ;
}
.cards h5{
    max-width: 132px;
    height: 60px;
}
.cards .border{
    max-width: 70px;
    height: 70px;
    border-radius: 5px;
}
.card-1 .border{
    background: #F9FDFF;  
}
.card-2 .border{
    background: #DDEEFE;
   
}
.card-3 .border{
    background: #FFFFFF;
}

.card-4 .border{
    background: #B6D7FF;

}
.cards span{
    font-size: 35px;
    padding: 0px 0px 0px 17px;
    color: #FF6551;
}
.card-3{
    background-color: #FF6551;
    color: white;
}
.cards h5::after{
    content: "";
    max-width: 10px;
    color: #FF6551;
} 









.layout-2{
    margin: 60px 120px 120px 120px;
}
.products{
    display: flex;
    justify-content: space-evenly;
    padding-top: 100px;
}
.sale-btn{
    align-items: center;
    background: #FF6551;
    color: white;
    border-radius: 5px;
    padding: 5px;
    font-size: x-small;
    max-width: 25px;
}








.layout-3{
    max-width: 100%;
    background-color: #26335D;
    padding-top: 90px;
    padding-bottom: 60px;
    display: flex;
}
.layout-3 .sec-1{
    margin-left: 10px
}
.layout-3 .sec-2{
    white-space: break-spaces;
    margin: 80px;
    padding-left: 90px;
}
.layout-3 h1{
    max-width: 340px;
    color: white;
}
.layout-3 p{
    max-width: 350px;
    color: white;
}
.layout-3 .hollow-btn{
display: flex;
border: none;
padding: 0px;
}
.layout-3 span{
    padding-bottom: 15px;
}






.layout-4{
    margin: 120px;
}
.layout-4 .sec-1{
    white-space: break-spaces;
}
.layout-4 span{
    color: white;
    border-radius: 30px;
    background: #2435A1;
    padding: 10px;
}
.layout-4 ul span{
    background: #2DC071;
    size: 10px;
}
.layout-4 ul .list-4 span{
    background: #BDBDBD;
}
.layout-4 ul .list-5 span{
    background: #BDBDBD;
}
.layout-4 .list-1, .list-2, .list-3, .list-4, .list-5{
    display: flex;
}
.layout-4 .cards{
    max-width: 1045px;
    height: 100%;
    display: flex;
    justify-content: space-evenly;
    margin-left: 80px;
}
.layout-4 .card-1, .card-2, .card-4{
    max-width: 270px;
    white-space: break-spaces;
}
.layout-4 .cards h1{
    color: #FF6551;
}
.layout-4 .cards h6{
    color: #8EC2F2;
}
.layout-4 .cards button{
    padding: 20px 70px 20px 70px;
}






.layout-5{
    margin: 120px 120px 120px 160px;
}
.layout-5 .sec-1{
    white-space: break-spaces;
}
.layout-5 .sec-2{
    display: flex;
    justify-content: space-between;
}
.layout-5 .sec-2 .sec_2-1{
    align-items: center;
}
.layout-5 .sec-2 .sec_2-2{
    align-items: center;
}
.layout-5 .sec-2 p{
    max-width: 320px;
}
.layout-5 img{
    border-radius: 80px;
    text-align: center;
}
.layout-5 span{
    color: #F3CD03;
}
.layout-5 .star-btn .sec-1 span{
    color: transparent;
    border-color: #F3CD03;
}




.layout-6{
    background-color: #26335D;
    padding-bottom: 120px;
}
.layout-6 .sec-1{
    margin: 120px 200px 120px 490px;
    white-space: break-spaces;
    align-items: center;
}
.layout-6 .sec-1 h1{
    color: white;
}
.layout-6 .sec-1 p{
    color: white;
}
.layout-6 .sec-1 h6{
    padding-left: 210px;
}

.layout-6 input{
    padding: 18px 400px 18px 18px;
}
.layout-6 .sec-2{
    margin-left: 400px;
}
.layout-6 button{
    border-left: none;
}
.layout-6 .sec_2-1{
    display: flex;
}

.footer .sections{
    padding: 100px;
}
.footer .sections{
    display: flex;
    justify-content: space-evenly;
}
.footer li{
    color: #737373;
    font-size: small;
    
}

footer ul{
    text-decoration: none;
}
.footer .part-2{
    background: #FAFAFA;
    padding: 30px;
}
.footer span{
    color: #FF6551;
}
