* {
    max-width: 100%;
    margin: 0px;
    font-family: "montserrat";
    font-weight: 700;
    padding: 0px;
}
.container{
    max-width: 1520px;
    margin: auto;
}
li{
    list-style: none;
}
button{
    background: transparent;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
}
.hollow-btn{
    color: #FF6551;
    background-color: transparent;
    border-color: #FF6551;
}
.hollow-btn:hover{
    background: #FF6551;
    color: white;
}
.filled-btn{
    border: none;
    background: #FF6551;
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
}
.filled-btn:hover{
    color: #FF6551;
    background-color: transparent;
    border-color: #FF6551;
}
.btn{
    display: flex;
    gap: 8px;
}
h1{
    color: white;
    font-size: 58px;
}
h2{
    font-size: 40px;
    color: black;
}
h4{
    font-size: 20px;
    color: white;
    font-weight: 400;
}
h5{
    color: #FF6551;
    font-size: 16px;
}
h6{
    color: #FF6551;
    font-size: 14px;
}
p{
    font-size: 14px;
    color: #737373;
}
.layout{
    padding: 100px 200px;
}
.introduction{
    display: flex;
    flex-direction: column;
    gap: 28px;
    padding-bottom: 50px;
}

/* header */

.header{
    background-color: #26335D;
}
.navigators{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 17px 0px ;
}
.site-id{
    font-size: 24px;
    color: white;
}
.navigator-link{
    display: flex;
    gap: 70px;
    align-items: center;
}
.navigator-link ul{
    display: flex;
    gap: 15px;
    font-size: 14px;
}
.navigator-link a{
    color: white;
    text-decoration: none;
}
.navigator-link a:hover{
    color: #FF6551;
}
.navigators .hollow-btn{
    border: none;
    color: white;
}
.header .layout{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 120px;
}
/* section-1 */

.card{
    max-width: 180px;
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 13px 19px 0px #00000012;
}
.card:hover{
    background-color:#FF6551;
}
.card:hover .icon-border{
    background-color: white;
}
.card:hover h5{
    color: white;
}
.card:hover p{
    color: white;
}
.card:hover h5::after{
    background-color: white;
}
.icon-border{
    background:#DDEEFE;
    max-width: 70px;
    height: 76px;
    border-radius: 5px;
}
.icon-border span{
  font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
  color: #E74040;
  font-size: 40px;
    padding: 19px 0px 0px 16px;
}
.card h5::after{
    content: "";
    display: flex;
    background-color: #FF6551;
    height: 2px;
    width: 55px;
    margin-top: 25px;
}
.cards{
    display: flex;
    gap: 30px;
}
/* section-2 */

.product .icons button{
    padding: 13px 14px 10px 14px;
    border-radius: 30px;
    background: white;
}
.product{
    max-width: 238px;
}
.product-img{
    position: relative;
}
.product-img::before{
    position: absolute;
    content: "sale";
    display: flex;
    background-color: #E74040;
    color: white;
    font-size: 15px;
    padding: 5px 10px;
    top: 15px;
    left: 15px;
    border-radius: 3px;
}

.product .icons{
    position: absolute;
    padding: 230px 0px 0px 37px;
    display: flex;
    gap: 12px;
    top: 0;
   
}
.product .icons button{
    border: transparent;
}
.product span{
    font-size: 21px;
}
.product span:hover{
    font-variation-settings:
  'FILL' 1,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24;
}
.product .link{
    padding-top: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
}
.link a{
    text-decoration: none;
    color: #FF6551;
}
.link a:hover{
    
    color: #FF6551;
}
.product .rating-btn{
    display: flex;
    align-items: center;
    background: #26335D;
    color: white;
    padding: 5px;
    border-radius: 30px;
    gap: 5px;
    border: transparent;
}
.product h5{
    color: #252B42;
}
.product .link span{
    color: #FFCE31;
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
.sales{
 display: flex;  
 color: #737373; 
}
.sales span{
    font-size: 22px;
}
.prices{
    display: flex;
    gap: 8px;
}
.prices h5{
    color: #BDBDBD;
}
.prices h4{
    color: #2435A1;
    font-size: 16px;
    font-weight: 700;
}
.product .hollow-btn{
    display: flex;
    border-radius: 40px;
    max-width: 153px;
    padding: 12px 0px 10px 30px;
}
.product .layout-1{
    display: flex;
    flex-direction: column;
    gap: 13px;
    padding: 10px;
}
.products{
    display: flex;
    gap: 40px;
    position: relative;
}

/* section-3 */

.section-3 .layout{
    background-color: #26335D;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    align-items: center;
    padding: 100px 80px;
    gap: 50px;
}
.section-3 .hollow-btn{
    border: transparent;
    display: flex;
    align-items: center;
    border-radius: 40px;
    max-width: 153px;
    padding: 12px 0px 10px 30px;
}
.section-3 h1::before{
    content: "";
    display: flex;
    background-color: #FF6551;
    height: 7px;
    width: 120px;
    margin-bottom: 35px;
}
/* section-4 */

.pricing .icon-border{
    background-color: #2435A1;
    border-radius: 50px;
    padding: 0px 3px;
}
.pricing span{
    color: white;
}
.pricing h4{
    color: black;
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.pricing h5{
    color: black;
    font-size: 15px;
    display: flex;
    align-items: center;
}
.pricing .filled-btn{
    padding-left: 85px;
}

.pricing h4 span{
    background-color: #BDBDBD;
    border-radius: 20px;
    font-size: 32px;
}
.pricing h5 span{
    background-color: #2DC071;
    border-radius: 20px;
    font-size: 32px;
}
.pricing h2{
    color: #FF6551;
}
.pricing h6{
    color: #8EC2F2
}
.pricing{
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow:0px 13px 19px 0px #00000012 ;
    padding: 35px;
    position: relative;
}
.pricing-tag{
    display: flex;
    gap: 40px;
    position: relative;
}
.pricing-tag .pop-up{
    position: absolute;
    border-radius: 45px;
    color: white;
   background-color: #E77C40;
   padding: 26px 16px;
   left: 61%;
   bottom: 94%;
}
/*testimonials */

.designer{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.designer img{
    max-width: 128px;
    border-radius: 70px;
}
.designers{
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}
.review span{
    font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
    color: #FFCE31;
    cursor: pointer;
}
.unfill-str span{
    font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 24;
}
.review{
    display: flex;
}
.designer h5{
    color: black;
}
.designer h6{
    color: #737373;
}
.designer p{
    max-width: 286px;
}

/* client matter */

.client-matter{
    background-color: #26335D;
}
.client-matter h2{
    color: white;
}
.client-matter h4{
    max-width: 558px;
}
.email-btn{
    display: flex;
    padding-top: 45px;
}
.client-matter .introduction{
    align-items: center;
    gap: 25px;
}
input{
    padding: 0px 370px 0px 10px;
    border-radius: 5px 0px 0px 5px;
    border: transparent;
}
.client-matter .filled-btn{
    border-radius: 0px 5px 5px 0px;
}
/* footer */

.footer h5{
    color: black;
}
.footer a{
    color: #737373;
    font-size: 12px;
}
.footer ul{
    display: flex;
    flex-direction: column;
    gap: 12px
}
.footer .about{
    display: flex;
    justify-content: space-evenly;
}
.address a{
     text-decoration: none;
     display: flex;
     align-items: center;
}
.footer .link{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.address{
    display: flex;
    flex-direction: column;
    gap: 12px;
}
.address span{
    color: #FF6551;
}
.address a:hover{
    color: #FF6551;
}
.footer-layout{
    background-color: #FAFAFA;
    display: flex;
    justify-content: space-around;
    padding: 30px 0px;
}
.footer-layout i{
    color: #FF6551;
}
.footer .layout{
    display: flex;
    flex-direction: column;
}
.icon-links{
    display: flex;
    flex-direction: row;
    gap: 15px;
}
