* {
    font-family: "montserrat";
    /* font-weight: 700; */
}

:root {
    --primary-background-color: #26335D;
    --secondary-background-color:white;
    --primary-color: #FF6551;
    --primary-text-color: white;
    --secondary-text-color: black;
    --paragraph-color:#737373;
    --footer-tail-color:#FAFAFA;
    --danger-color: #E74040;
}
body{
    margin: 0;
}
.color-bg{
    background-color: var(--primary-background-color);
}
.white-bg{
    background-color: var(--secondary-background-color);
}
button {
    background: transparent;
    border-radius: 5px;
    padding: 15px 25px;
    cursor: pointer;
    font-weight: 700;
}
.filled-btn {
    background: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    border: transparent;
    border-color: #FF6551;
}
.hollow-btn{
    color: var(--primary-color);
    border-color:var(--primary-color) ;
}
h1 {
    color: var(--primary-text-color);
    font-size: 45px;
    margin: 0;
}
h2{
    font-weight: 700;
    font-size: 40px;
    color: var(--secondary-text-color);
    margin: 0;
}
h4 {
    font-size: 20px;
    color: var(--primary-text-color);
    font-weight: 400;
    margin: 0;
}
h5 {
    color: var(--primary-color);
    font-size: 16px;
    margin: 0;
}
h6{
    font-weight: 700;
    font-size: 14px;
    color: var(--primary-color);
    margin: 0;
}
p{
    font-weight: 400;
    font-size: 14px;
    color: var(--paragraph-color);
    margin: 0;
} 
li{
    list-style: none;
}
/*  */
.container-large{
    max-width: 1440px;
    margin: auto;
}
.container-mid{
    max-width: 1322px;
    margin: auto;
    padding: 20px 0px;
}
.container {
    max-width: 1050px;
    padding: 70px 0px;
    margin: auto;
}
.navigators {
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.site-id {
    font-weight: 700;
    font-size: 24px;
    color: var(--primary-text-color);
}
.navigator-link {
    display: flex;
    gap: 35px;
    align-items: center;
}
.navigator-link ul {
    display: flex;
    gap: 15px;
    font-size: 14px;
}
.navigator-link li{
    list-style: none;
}
.navigator-link a {
    color: var(--primary-text-color);
    text-decoration: none;
    font-weight: 700;
}
.navigator-link a:hover{
    color: var(--primary-color);
}

.navigators .hollow-btn {
    border: none;
    color: var(--primary-text-color);
}
.navigators .hollow-btn:hover{
    color:var(--primary-color) ;
}
.navigators .filled-btn {
    background: var(--primary-color);
    color: white;
    display: flex;
    align-items: center;
    gap: 5px;
    border: transparent;
    border-color: #FF6551;
}
.navigators .filled-btn:hover{
    color: var(--primary-color);
    background-color: transparent;
}
.navigators .btn{
    display: flex;
    gap: 10px;
}
img{
    max-width: 100%;
}
.banner {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.introduction{
    padding-bottom: 50px;
    max-width: 573px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}
 
.banner .filled-btn{
    color:var(--primary-text-color) ;
    border: 2px solid;
    border-color: var(--primary-color);
    background-color: var(--primary-color) ;
} 
.banner .filled-btn:hover{
    background-color: transparent;
    color: var(--primary-color);
}
.banner .hollow-btn{
    color: var(--primary-color);
    border-color:var(--primary-color) ;
}
.banner .hollow-btn:hover{
    color: var(--primary-text-color);
    background-color: var(--primary-color);
}
.banner .btn{
    display: flex;
    gap: 10px;
}
/*  */

.cards {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
}
.card {
    padding: 35px 40px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 0px 13px 19px 0px #00000012;
}

.card h5 {
    color: var(--secondary-text-color);
}

.card:hover {
    background-color: var(--primary-color);
}

.card:hover .icon-border {
    background-color: white;
}

.card:hover h5 {
    color: white;
}

.card:hover p {
    color: white;
}

.card:hover h5::after {
    background-color: white;
}

.icon-border {
    background: #DDEEFE;
    max-width: 70px;
    height: 76px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-border span {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: var(--danger-color);
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card h5::after {
    content: "";
    display: flex;
    background-color: var(--primary-color);
    height: 2px;
    width: 55px;
    margin-top: 25px;
}


.card-expert {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.product .icons button {
    border-radius: 30px;
    background: white;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: transparent;
}

.product-img {
    position: relative;
}
.icon-btn span{
    font-weight: 300;
}
 .sale-tag{
    position: absolute;
    display: flex;
    background-color: var(--danger-color);
    color:var(--primary-text-color);
    font-size: 13px;
    padding: 3px 10px;
    top: 15px;
    left: 15px;
    border-radius: 3px;
    font-weight: 700;
}

.product .icons {
    position: absolute;
    display: flex;
    gap: 8px;
    bottom: 28px;
    left: 0;
    width: 100%;
    justify-content: center;
}


.icons button:nth-child(3) {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}


.product .link {
    padding-top: 30px;
    display: flex;
    align-items: center;
    font-size: 14px;
    gap: 5px;
}

.link a {
    text-decoration: none;
    color: var(--primary-color);
    font-weight: 700;
}

.link a:hover {

    color: var(--primary-color);
    text-decoration: underline;
}
.product{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.product .rating-btn {
    display: flex;
    align-items: center;
    background: #26335D;
    color: white;
    padding: 5px;
    border-radius: 30px;
    gap: 5px;
    border: transparent;
}

.product h5 {
    color: #252B42;
}

.product .link span {
    color: #FFCE31;
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
        font-size: 17px;
}

.sales {
    display: flex;
    color: #737373;
    font-weight: 700;
    font-size: 14px;
}

.sales span {
    font-size: 20px;
}

.prices {
    display: flex;
    gap: 8px;
    color: #BDBDBD;
    font-weight: 700;
}

.prices .fade {
    color: #2435A1;
}

.product .hollow-btn {
    display: flex;
    border-radius: 40px;
    max-width: 156px;
    align-items: center;
    justify-content: center;
    border: 1.5px solid;
    padding: 10px;
}
.product .hollow-btn:hover{
    background-color: var(--primary-color);
    color: var(--primary-text-color);
}

.product .details {
    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 20px;
}

.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    position: relative;
}
/*  */
.middle-sec {
    display: flex;
    align-items: center;
    gap: 12%;
}

.middle-sec .introduction {
    max-width: 500px;
    gap: 40px;
} 

 .middle-sec .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 100px 80px;
    gap: 40px;
    max-width: 1230px;
} 

.middle-sec .hollow-btn{
    display: flex;
    gap: 8px;
    font-size: 12px;
    max-width: 98px;
    border: none;
    padding: 0px;
    justify-content: space-between;
}
.middle-sec h4 {
    font-size: 14px;
    width: 355px;
}

.middle-sec h1::before {
    content: "";
    display: flex;
    background-color: var(--primary-color);
    height: 7px;
    width: 100px;
    margin-bottom: 35px;
}

.middle-sec span {
    font-size: 16px;
} 
/*  */
.packages {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.packages .introduction {
    padding-bottom: 100px;
}

.pricing .icon-border {
    background-color: #2435A1;
    border-radius: 50px;
    height: 90px;
    width: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 100%;
}

.pricing span {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: white;
    font-size: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.pricing h4 {
    color: var(--secondary-text-color);
    font-weight: 700;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.pricing h5 {
    color: var(--secondary-text-color);
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 5px;
}

.pricing .filled-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid var(--primary-color);
}

.pricing .filled-btn:hover {
    border: 2px solid;
    border-color: var(--primary-color);
    background-color: transparent;
    color: var(--primary-color);
   
}

.tick-icon {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.pricing h4 span {
    background-color: #BDBDBD;
    border-radius: 20px;
    font-size: 32px;
}

.pricing h5 span {
    background-color: #2DC071;
    border-radius: 20px;
    font-size: 32px;
}

.pricing h2 {
    color: var(--primary-color);
}

.pricing h6 {
    color: #8EC2F2
}

.pricing p {
    max-width: 220px;
    font-weight: 700;
}

.pricing {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 13px 19px 0px #00000012;
    padding: 35px 30px;
    position: relative;
    gap: 25px;
}

.pricing-tag {
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-evenly;
    gap: 30px;
}

.pricing .pop-up {
    position: absolute;
    border-radius: 45px;
    color: var(--primary-text-color);
    background-color: #E77C40;
    height: 80px;
    width: 80px;
    top: -10px;
    right: -10px;
    display: flex;
    align-items: center;
    justify-content: center;
} 
.pop-up span{
    font-size: 20px;
    font-weight: 700;
}

.teacher {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
}

.teacher img {
    max-width: 128px;
    border-radius: 70px;
}

.experts {
    display: flex;
    justify-content: space-evenly;
    padding-top: 20px;
}

.review span {
    font-variation-settings:
        'FILL' 1,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
    color: #FFCE31;
    cursor: pointer;
}

.review .material-symbols-outlined:nth-child(5) {
    font-variation-settings:
        'FILL' 0,
        'wght' 400,
        'GRAD' 0,
        'opsz' 24;
}

.review {
    display: flex;
    gap: 5px;
}

.teacher h5 {
    color: var(--secondary-text-color);
}

.teacher h6 {
    color: var(--paragraph-color);
}

.teacher p {
    max-width: 320px;
    font-weight: 400;
    text-align: center;
}
/*  */
.text-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.text-box h2 {
    color: white;
}

.text-box h4 {
    width: 558px;
    font-size: 15px;
    text-align: center;
}

.email-btn {
    display: flex;
    padding-top: 45px;
    width: 100%;
    margin: auto;
}

.text-box .introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
}

input {
    border-radius: 5px 0px 0px 5px;
    border: transparent;
    width: 520px;
    padding-left: 20px;
    font-weight: 600;
    font-size: 14px;
}

.text-box .filled-btn {
    border-radius: 0px 5px 5px 0px;
    border: 1px solid;
    border-color: white;
}
/*  */

footer h5 {
    color: var(--secondary-text-color);
}

footer a {
   
    font-size: 12px;
}

footer ul {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: baseline;
    padding: 0px;
}

footer .link:nth-child(5) {
    max-width: 300px;
}

footer .about {
    display: grid;
    grid-template-columns:1fr 1fr 1fr 1fr 1.5fr;
  
}

footer span {
    color: var(--primary-color);
}
footer .container{
    padding-bottom: 0px;
}
.footer-tail .container{
    padding: 0px;
}

.link li:nth-child(3) {
    font-variation-settings:
        'FILL' 1;
}
.link li span{
    font-size: 28px;
}
.about a {
    display: flex;
    align-items: center;
    gap: 10px;
    color: var(--paragraph-color);
} 
 
.footer-tail {
    background-color: var(--footer-tail-color);
}


.media-links {
    display: flex;
    justify-content: space-between;
    padding: 30px 0px;
}

.footer-tail i {
    color: var(--primary-color);
    font-size: 20px;
}

.icon-links {
    display: flex;
    gap: 20px;
    font-size: 20px;
    padding-right: 5%;
}

