@media(max-width:1330px){
    .container-large{
        padding: 0px 30px;
    }
}
@media(max-width:1100px){
    .container{
        padding: 70px 30px;
    }
}
@media(max-width:1024px){
    .container-large{
        padding: 0px 35px;
    }
    .container{
        padding: 50px 29px;
        margin: auto;
    }
    .cards{
        grid-template-columns: repeat(2, 1fr);
    
    }
    .products{
        grid-template-columns: repeat(2, 1fr);
    }
    .details p{
        width: 240px;
    }

}
@media(max-width:900px){
    h5{
        font-size: 14px;
       }
       h1{
        font-size: 30px;
       }
       h4{
        font-size: 16px;
       }
       h6{
        font-size: 12px;
       }
       h2{
        font-size: 33px;
       }
       p{
        font-size: 12px;
       }
       .navigator-link a{
        font-size: 13px;
       }
       .navigators .hollow-btn{
        font-size: 11px;
       }
       .navigators .filled-btn{
        font-size: 11px;
       }
       .navigators .btn{
        gap: 0px;
       }
       .banner .hollow-btn{
        font-size: 11px;
       }
       .banner .filled-btn{
        font-size: 11px;
       }
       .navigator-link{
        gap: 0px;
       }
       .cards {
        grid-template-columns: repeat(2, 1fr);
    }
    .products {
        grid-template-columns: repeat(2, 1fr);
    }
    .pricing-tag {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .media-links {
        justify-content: space-around;
    }
    
    .middle-sec h1::before {
        height: 5px;
        width: 70px;
    }
    
footer .about {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
}
}

@media (max-width:768px){
    
  h5{
    font-size: 14px;
   }
   h1{
    font-size: 30px;
   }
   h4{
    font-size: 16px;
   }
   h6{
    font-size: 12px;
   }
   h2{
    font-size: 33px;
   }
   p{
    font-size: 12px;
   }
   
    .site-id{
        font-size: 27px;
        display: flex;
        gap: 12px;
       }

       /* hamburger */

      .navigator-link ul{
        position: fixed;
        background: #2b428f;
        width: 100%;
        height: 100%;
        top: 0;
        margin: 0;
        left: -100%;
        padding: 0;
        display: flex;
        flex-direction: column;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transition: all 0.5s ease-in-out;
      }
      #check:checked~.navigator-link ul{
        left: 0;
      }
      .hamburger-btn{
        display: flex;
        align-items: center;
        justify-content: center;
        position: fixed;
        bottom: 10px;
        gap: 20px;
    }
    .hamburger-btn .hollow-btn{
        color: var(--primary-color);
    }
    .hamburger-btn .filled-btn{
        border-radius: 40px;
        padding: 10px 20px;
    }
      .navigators .btn{
        display: none;
      }
      .open-menu{
        display: block;
      }
      .close-menu{
        display: block;
        position: absolute;
        right: 7px;
        top: 7px;
    }
    .navigator-link label span{
        font-size: 25px;
    }
    .navigators{
        justify-content: space-between;
        padding: 0% 8%;
    }
    .open-menu span{
        font-size: 30px;
    }
    .navigator-link ul .dropdown-menu {
       position: unset;
       background-color: transparent;
    }
    
    /* .navigator-link ul li{
        margin: 20px 0px;
        position: relative;
       
    } 
    .navigator-link ul li a{
        font-size: 15px;
    }
    #click:checked ~ ul{
        left: 0%;
    }
    .menu-bar{
        display: block;
    }
    .navigator-link ul label span{
        position: absolute;
        right: 4px;
        top: 4px;
    }
    .dropdown-menu{
        display: none;
    }
    
    .navigator-link li .dropdown-menu ul{
        top: 0;
       
    }
    .dropdown-menu {
        top: -10px;
        position: relative;
    }
     */
    
    /* hamburger end*/
    .banner img{
        display: none;
    }
    
    .navigator-link input{
        width: unset;
    }
    button{
        font-size: 10px
    }
    
    .container-mid button .material-symbols-outlined{
        font-size: 17px;
    }
     
    .white-bg .cards{
        grid-template-columns: repeat(2, 1fr);
    }
    .white-bg .products{
        grid-template-columns: repeat(2, 1fr);
    }
    
    footer .about{
        grid-template-columns: repeat(3, 1fr);
        gap: 20px;
    }
    .navigator-link{
        gap: 10px;
    }
    .teacher p{
        max-width: 250px;
    }
}
@media(max-width:640px){
    h5{
        font-size: 10px;
       }
       h1{
        font-size: 25px;
       }
       h4{
        font-size: 10px;
       }
       h6{
        font-size: 10px;
       }
       h2{
        font-size: 20px;
       }
       p{
        font-size: 10px;
       }
    
    .middle-sec img{
        display: none;
    }
    
    input{
        width: inherit;
    }
    .tick-icon h4{
        font-size: 14px;
    }
    .details p{
        width: 200px;
    }
    .tick-icon h5{
        font-size: 14px;
    }
    .text-box h4 {
        font-size: 12px;
        width: 390px;
    }
    .teacher p {
        max-width: 220px;
    }
    .review span{
        font-size: 20px;
    }
    .teacher img{
        max-width: 115px;
    }
    .link h5{
        font-size: 13px;
    }
}
@media(max-width:540px){
    h5{
        font-size: 10px;
       }
       h1{
        font-size: 25px;
       }
       h4{
        font-size: 10px;
       }
       h6{
        font-size: 10px;
       }
       h2{
        font-size: 20px;
       }
       p{
        font-size: 10px;
       } 
       .introduction{
        gap: 25px;
       }
       .menu-bar .material-symbols-outlined {
        font-size: 28px;
    }
    .site-id{
        font-size: 22px;
    }
    .experts{
        display:grid;
        gap: 30px;
    }
    .middle-sec img{
        display: none;
    }
    .pricing h4{
        font-size: 11px;
    }
    .pricing h5{
        font-size: 11px;
    }
    .container-large{
        padding: 0px 10px;
    }
    .teacher img{
        max-width: 110px;
    }
    .text-box h4 {
        width: 300px;
        font-size: 10px;
    }
    
    .media-links{
        justify-content: space-around;
    }
    .email-btn{
        padding-top: 20px;
    }
    .link h5{
        font-size: 13px;
    }
    .link a{
        font-size: 11px;
    }
    footer .about {
        grid-template-columns: repeat(2, 1fr);
    }
    footer ul{
        gap: 15px;
    }
}
@media(max-width:500px){
    .white-bg .cards {
        grid-template-columns: repeat(1, 1fr);
    }
    .white-bg .products {
        grid-template-columns: repeat(1, 1fr);
    }
    /* .white-bg .pricing-tag {
        grid-template-columns: repeat(1, 1fr);
    } */
    footer .about {
        grid-template-columns: repeat(2, 1fr);
    }
}
@media(max-width:420px){
    
    .navigators {
        padding: 0px 20px;
    }
    .middle-sec {
        display: block;
    }
    .middle-sec h1::before {
        height: 4px;
        width: 60px;
    }

}
@media(max-width:360px){
    .navigators {
        padding: 0px 10px;
    }
    .navigator-link {
        gap: 2px;
    }
    .navigators .filled-btn {
        padding: 12px;
    }
    .banner{
        padding: 0px 10px;
    }
    .introduction {
        padding-bottom: 30px;
        gap: 18px;
    }
    .banner .hollow-btn{
        padding: 13px;
    }
    .banner .filled-btn{
        padding: 13px;
    }
    .icon-links{
        gap: 12px;
        padding: unset;
    }
    .footer-text p{
        font-size: 9px;
    }
    .footer-tail i {
        font-size: 16px;
    }
    footer .about {
        grid-template-columns: repeat(1, 1fr);
    }
    .about .link{
       /* display: flex;
        flex-direction: column;
        align-items: center; */
    }
}


